<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqhp.mbg.mapper.ActionMapper">
  <resultMap id="BaseResultMap" type="com.yqhp.mbg.po.Action">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <result column="project_id" jdbcType="INTEGER" property="projectId"/>
    <result column="page_id" jdbcType="INTEGER" property="pageId"/>
    <result column="type" jdbcType="TINYINT" property="type"/>
    <result column="project_type" jdbcType="TINYINT" property="projectType"/>
    <result column="class_name" jdbcType="VARCHAR" property="className"/>
    <result column="need_driver" jdbcType="TINYINT" property="needDriver"/>
    <result column="has_return_value" jdbcType="TINYINT" property="hasReturnValue"/>
    <result column="return_value" jdbcType="VARCHAR" property="returnValue"/>
    <result column="creator_uid" jdbcType="INTEGER" property="creatorUid"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="updator_uid" jdbcType="INTEGER" property="updatorUid"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yqhp.mbg.po.Action">
    <result column="params" jdbcType="LONGVARCHAR" property="params"
            typeHandler="com.yqhp.typehandler.ParamListTypeHandler"/>
    <result column="local_vars" jdbcType="LONGVARCHAR" property="localVars"
            typeHandler="com.yqhp.typehandler.LocalVarListTypeHandler"/>
    <result column="steps" jdbcType="LONGVARCHAR" property="steps" typeHandler="com.yqhp.typehandler.StepListTypeHandler"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, description, project_id, page_id, type, project_type, class_name, need_driver, 
    has_return_value, return_value, creator_uid, create_time, updator_uid, update_time, 
    category_id
  </sql>
  <sql id="Blob_Column_List">
    params, local_vars, steps
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.yqhp.mbg.po.ActionExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.yqhp.mbg.po.ActionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List"/>
    from action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from action
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from action
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yqhp.mbg.po.ActionExample">
    delete from action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.yqhp.mbg.po.Action">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into action (name, description, project_id,
    page_id, type, project_type,
    class_name, need_driver, has_return_value,
    return_value, creator_uid, create_time,
    updator_uid, update_time, category_id,
    params,
    local_vars,
    steps)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER},
    #{pageId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{projectType,jdbcType=TINYINT},
    #{className,jdbcType=VARCHAR}, #{needDriver,jdbcType=TINYINT}, #{hasReturnValue,jdbcType=TINYINT},
    #{returnValue,jdbcType=VARCHAR}, #{creatorUid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
    #{updatorUid,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{categoryId,jdbcType=INTEGER},
    #{params,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.ParamListTypeHandler},
    #{localVars,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.LocalVarListTypeHandler},
    #{steps,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.StepListTypeHandler})
  </insert>
  <insert id="insertSelective" parameterType="com.yqhp.mbg.po.Action">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="pageId != null">
        page_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="projectType != null">
        project_type,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="needDriver != null">
        need_driver,
      </if>
      <if test="hasReturnValue != null">
        has_return_value,
      </if>
      <if test="returnValue != null">
        return_value,
      </if>
      <if test="creatorUid != null">
        creator_uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updatorUid != null">
        updator_uid,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="localVars != null">
        local_vars,
      </if>
      <if test="steps != null">
        steps,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null">
        #{pageId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=TINYINT},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="needDriver != null">
        #{needDriver,jdbcType=TINYINT},
      </if>
      <if test="hasReturnValue != null">
        #{hasReturnValue,jdbcType=TINYINT},
      </if>
      <if test="returnValue != null">
        #{returnValue,jdbcType=VARCHAR},
      </if>
      <if test="creatorUid != null">
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatorUid != null">
        #{updatorUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="params != null">
        #{params,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.ParamListTypeHandler},
      </if>
      <if test="localVars != null">
        #{localVars,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.LocalVarListTypeHandler},
      </if>
      <if test="steps != null">
        #{steps,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.StepListTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yqhp.mbg.po.ActionExample" resultType="java.lang.Long">
    select count(*) from action
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update action
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.pageId != null">
        page_id = #{record.pageId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.projectType != null">
        project_type = #{record.projectType,jdbcType=TINYINT},
      </if>
      <if test="record.className != null">
        class_name = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.needDriver != null">
        need_driver = #{record.needDriver,jdbcType=TINYINT},
      </if>
      <if test="record.hasReturnValue != null">
        has_return_value = #{record.hasReturnValue,jdbcType=TINYINT},
      </if>
      <if test="record.returnValue != null">
        return_value = #{record.returnValue,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorUid != null">
        creator_uid = #{record.creatorUid,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatorUid != null">
        updator_uid = #{record.updatorUid,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.params != null">
        params = #{record.params,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.ParamListTypeHandler},
      </if>
      <if test="record.localVars != null">
        local_vars = #{record.localVars,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.LocalVarListTypeHandler},
      </if>
      <if test="record.steps != null">
        steps = #{record.steps,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.StepListTypeHandler},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update action
    set id = #{record.id,jdbcType=INTEGER},
    name = #{record.name,jdbcType=VARCHAR},
    description = #{record.description,jdbcType=VARCHAR},
    project_id = #{record.projectId,jdbcType=INTEGER},
    page_id = #{record.pageId,jdbcType=INTEGER},
    type = #{record.type,jdbcType=TINYINT},
    project_type = #{record.projectType,jdbcType=TINYINT},
    class_name = #{record.className,jdbcType=VARCHAR},
    need_driver = #{record.needDriver,jdbcType=TINYINT},
    has_return_value = #{record.hasReturnValue,jdbcType=TINYINT},
    return_value = #{record.returnValue,jdbcType=VARCHAR},
    creator_uid = #{record.creatorUid,jdbcType=INTEGER},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    updator_uid = #{record.updatorUid,jdbcType=INTEGER},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    category_id = #{record.categoryId,jdbcType=INTEGER},
    params = #{record.params,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.ParamListTypeHandler},
    local_vars = #{record.localVars,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.LocalVarListTypeHandler},
    steps = #{record.steps,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.StepListTypeHandler}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update action
    set id = #{record.id,jdbcType=INTEGER},
    name = #{record.name,jdbcType=VARCHAR},
    description = #{record.description,jdbcType=VARCHAR},
    project_id = #{record.projectId,jdbcType=INTEGER},
    page_id = #{record.pageId,jdbcType=INTEGER},
    type = #{record.type,jdbcType=TINYINT},
    project_type = #{record.projectType,jdbcType=TINYINT},
    class_name = #{record.className,jdbcType=VARCHAR},
    need_driver = #{record.needDriver,jdbcType=TINYINT},
    has_return_value = #{record.hasReturnValue,jdbcType=TINYINT},
    return_value = #{record.returnValue,jdbcType=VARCHAR},
    creator_uid = #{record.creatorUid,jdbcType=INTEGER},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    updator_uid = #{record.updatorUid,jdbcType=INTEGER},
    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    category_id = #{record.categoryId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yqhp.mbg.po.Action">
    update action
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null">
        page_id = #{pageId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="projectType != null">
        project_type = #{projectType,jdbcType=TINYINT},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="needDriver != null">
        need_driver = #{needDriver,jdbcType=TINYINT},
      </if>
      <if test="hasReturnValue != null">
        has_return_value = #{hasReturnValue,jdbcType=TINYINT},
      </if>
      <if test="returnValue != null">
        return_value = #{returnValue,jdbcType=VARCHAR},
      </if>
      <if test="creatorUid != null">
        creator_uid = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatorUid != null">
        updator_uid = #{updatorUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.ParamListTypeHandler},
      </if>
      <if test="localVars != null">
        local_vars = #{localVars,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.LocalVarListTypeHandler},
      </if>
      <if test="steps != null">
        steps = #{steps,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.StepListTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yqhp.mbg.po.Action">
    update action
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      page_id = #{pageId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      project_type = #{projectType,jdbcType=TINYINT},
      class_name = #{className,jdbcType=VARCHAR},
      need_driver = #{needDriver,jdbcType=TINYINT},
      has_return_value = #{hasReturnValue,jdbcType=TINYINT},
      return_value = #{returnValue,jdbcType=VARCHAR},
      creator_uid = #{creatorUid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updator_uid = #{updatorUid,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      category_id = #{categoryId,jdbcType=INTEGER},
      params = #{params,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.ParamListTypeHandler},
      local_vars = #{localVars,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.LocalVarListTypeHandler},
      steps = #{steps,jdbcType=LONGVARCHAR,typeHandler=com.yqhp.typehandler.StepListTypeHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yqhp.mbg.po.Action">
    update action
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      page_id = #{pageId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      project_type = #{projectType,jdbcType=TINYINT},
      class_name = #{className,jdbcType=VARCHAR},
      need_driver = #{needDriver,jdbcType=TINYINT},
      has_return_value = #{hasReturnValue,jdbcType=TINYINT},
      return_value = #{returnValue,jdbcType=VARCHAR},
      creator_uid = #{creatorUid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updator_uid = #{updatorUid,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      category_id = #{categoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>