<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daxiang.mbg.mapper.DeviceTestTaskMapper">
  <resultMap id="BaseResultMap" type="com.daxiang.mbg.po.DeviceTestTask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="platform" jdbcType="TINYINT" property="platform" />
    <result column="test_task_id" jdbcType="INTEGER" property="testTaskId" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.daxiang.mbg.po.DeviceTestTask">
    <result column="capabilities" jdbcType="LONGVARCHAR" property="capabilities" />
    <result column="test_plan" jdbcType="LONGVARCHAR" property="testPlan" typeHandler="com.daxiang.typehandler.TestPlanTypeHandler" />
    <result column="device" jdbcType="LONGVARCHAR" property="device" typeHandler="com.daxiang.typehandler.JSONObjectTypeHandler" />
    <result column="global_vars" jdbcType="LONGVARCHAR" property="globalVars" typeHandler="com.daxiang.typehandler.GlobalVarListTypeHandler" />
    <result column="pages" jdbcType="LONGVARCHAR" property="pages" typeHandler="com.daxiang.typehandler.PageListTypeHandler" />
    <result column="before_class" jdbcType="LONGVARCHAR" property="beforeClass" typeHandler="com.daxiang.typehandler.ActionTypeHandler" />
    <result column="before_method" jdbcType="LONGVARCHAR" property="beforeMethod" typeHandler="com.daxiang.typehandler.ActionTypeHandler" />
    <result column="after_class" jdbcType="LONGVARCHAR" property="afterClass" typeHandler="com.daxiang.typehandler.ActionTypeHandler" />
    <result column="after_method" jdbcType="LONGVARCHAR" property="afterMethod" typeHandler="com.daxiang.typehandler.ActionTypeHandler" />
    <result column="testcases" jdbcType="LONGVARCHAR" property="testcases" typeHandler="com.daxiang.typehandler.TestcaseListTypeHandler" />
    <result column="code" jdbcType="LONGVARCHAR" property="code" />
    <result column="err_msg" jdbcType="LONGVARCHAR" property="errMsg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, project_id, platform, test_task_id, device_id, status, start_time, end_time
  </sql>
  <sql id="Blob_Column_List">
    capabilities, test_plan, device, global_vars, pages, before_class, before_method, 
    after_class, after_method, testcases, code, err_msg
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.daxiang.mbg.po.DeviceTestTaskExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from device_test_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.daxiang.mbg.po.DeviceTestTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device_test_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from device_test_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from device_test_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.daxiang.mbg.po.DeviceTestTaskExample">
    delete from device_test_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.daxiang.mbg.po.DeviceTestTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into device_test_task (project_id, platform, test_task_id, 
      device_id, status, start_time, 
      end_time, capabilities, test_plan, 
      device, 
      global_vars, 
      pages, 
      before_class, 
      before_method, 
      after_class, 
      after_method, 
      testcases, 
      code, err_msg)
    values (#{projectId,jdbcType=INTEGER}, #{platform,jdbcType=TINYINT}, #{testTaskId,jdbcType=INTEGER}, 
      #{deviceId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{capabilities,jdbcType=LONGVARCHAR}, #{testPlan,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestPlanTypeHandler}, 
      #{device,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.JSONObjectTypeHandler}, 
      #{globalVars,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.GlobalVarListTypeHandler}, 
      #{pages,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.PageListTypeHandler}, 
      #{beforeClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler}, 
      #{beforeMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler}, 
      #{afterClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler}, 
      #{afterMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler}, 
      #{testcases,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestcaseListTypeHandler}, 
      #{code,jdbcType=LONGVARCHAR}, #{errMsg,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.daxiang.mbg.po.DeviceTestTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into device_test_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="testTaskId != null">
        test_task_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="capabilities != null">
        capabilities,
      </if>
      <if test="testPlan != null">
        test_plan,
      </if>
      <if test="device != null">
        device,
      </if>
      <if test="globalVars != null">
        global_vars,
      </if>
      <if test="pages != null">
        pages,
      </if>
      <if test="beforeClass != null">
        before_class,
      </if>
      <if test="beforeMethod != null">
        before_method,
      </if>
      <if test="afterClass != null">
        after_class,
      </if>
      <if test="afterMethod != null">
        after_method,
      </if>
      <if test="testcases != null">
        testcases,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="errMsg != null">
        err_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=TINYINT},
      </if>
      <if test="testTaskId != null">
        #{testTaskId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="capabilities != null">
        #{capabilities,jdbcType=LONGVARCHAR},
      </if>
      <if test="testPlan != null">
        #{testPlan,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestPlanTypeHandler},
      </if>
      <if test="device != null">
        #{device,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.JSONObjectTypeHandler},
      </if>
      <if test="globalVars != null">
        #{globalVars,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.GlobalVarListTypeHandler},
      </if>
      <if test="pages != null">
        #{pages,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.PageListTypeHandler},
      </if>
      <if test="beforeClass != null">
        #{beforeClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="beforeMethod != null">
        #{beforeMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="afterClass != null">
        #{afterClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="afterMethod != null">
        #{afterMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="testcases != null">
        #{testcases,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestcaseListTypeHandler},
      </if>
      <if test="code != null">
        #{code,jdbcType=LONGVARCHAR},
      </if>
      <if test="errMsg != null">
        #{errMsg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.daxiang.mbg.po.DeviceTestTaskExample" resultType="java.lang.Long">
    select count(*) from device_test_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update device_test_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.platform != null">
        platform = #{record.platform,jdbcType=TINYINT},
      </if>
      <if test="record.testTaskId != null">
        test_task_id = #{record.testTaskId,jdbcType=INTEGER},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.capabilities != null">
        capabilities = #{record.capabilities,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.testPlan != null">
        test_plan = #{record.testPlan,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestPlanTypeHandler},
      </if>
      <if test="record.device != null">
        device = #{record.device,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.JSONObjectTypeHandler},
      </if>
      <if test="record.globalVars != null">
        global_vars = #{record.globalVars,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.GlobalVarListTypeHandler},
      </if>
      <if test="record.pages != null">
        pages = #{record.pages,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.PageListTypeHandler},
      </if>
      <if test="record.beforeClass != null">
        before_class = #{record.beforeClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="record.beforeMethod != null">
        before_method = #{record.beforeMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="record.afterClass != null">
        after_class = #{record.afterClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="record.afterMethod != null">
        after_method = #{record.afterMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="record.testcases != null">
        testcases = #{record.testcases,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestcaseListTypeHandler},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.errMsg != null">
        err_msg = #{record.errMsg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update device_test_task
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      platform = #{record.platform,jdbcType=TINYINT},
      test_task_id = #{record.testTaskId,jdbcType=INTEGER},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      capabilities = #{record.capabilities,jdbcType=LONGVARCHAR},
      test_plan = #{record.testPlan,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestPlanTypeHandler},
      device = #{record.device,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.JSONObjectTypeHandler},
      global_vars = #{record.globalVars,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.GlobalVarListTypeHandler},
      pages = #{record.pages,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.PageListTypeHandler},
      before_class = #{record.beforeClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      before_method = #{record.beforeMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      after_class = #{record.afterClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      after_method = #{record.afterMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      testcases = #{record.testcases,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestcaseListTypeHandler},
      code = #{record.code,jdbcType=LONGVARCHAR},
      err_msg = #{record.errMsg,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update device_test_task
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      platform = #{record.platform,jdbcType=TINYINT},
      test_task_id = #{record.testTaskId,jdbcType=INTEGER},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.daxiang.mbg.po.DeviceTestTask">
    update device_test_task
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=TINYINT},
      </if>
      <if test="testTaskId != null">
        test_task_id = #{testTaskId,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="capabilities != null">
        capabilities = #{capabilities,jdbcType=LONGVARCHAR},
      </if>
      <if test="testPlan != null">
        test_plan = #{testPlan,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestPlanTypeHandler},
      </if>
      <if test="device != null">
        device = #{device,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.JSONObjectTypeHandler},
      </if>
      <if test="globalVars != null">
        global_vars = #{globalVars,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.GlobalVarListTypeHandler},
      </if>
      <if test="pages != null">
        pages = #{pages,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.PageListTypeHandler},
      </if>
      <if test="beforeClass != null">
        before_class = #{beforeClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="beforeMethod != null">
        before_method = #{beforeMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="afterClass != null">
        after_class = #{afterClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="afterMethod != null">
        after_method = #{afterMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      </if>
      <if test="testcases != null">
        testcases = #{testcases,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestcaseListTypeHandler},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=LONGVARCHAR},
      </if>
      <if test="errMsg != null">
        err_msg = #{errMsg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.daxiang.mbg.po.DeviceTestTask">
    update device_test_task
    set project_id = #{projectId,jdbcType=INTEGER},
      platform = #{platform,jdbcType=TINYINT},
      test_task_id = #{testTaskId,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      capabilities = #{capabilities,jdbcType=LONGVARCHAR},
      test_plan = #{testPlan,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestPlanTypeHandler},
      device = #{device,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.JSONObjectTypeHandler},
      global_vars = #{globalVars,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.GlobalVarListTypeHandler},
      pages = #{pages,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.PageListTypeHandler},
      before_class = #{beforeClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      before_method = #{beforeMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      after_class = #{afterClass,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      after_method = #{afterMethod,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ActionTypeHandler},
      testcases = #{testcases,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.TestcaseListTypeHandler},
      code = #{code,jdbcType=LONGVARCHAR},
      err_msg = #{errMsg,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daxiang.mbg.po.DeviceTestTask">
    update device_test_task
    set project_id = #{projectId,jdbcType=INTEGER},
      platform = #{platform,jdbcType=TINYINT},
      test_task_id = #{testTaskId,jdbcType=INTEGER},
      device_id = #{deviceId,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>