<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daxiang.mbg.mapper.PageMapper">
  <resultMap id="BaseResultMap" type="com.daxiang.mbg.po.Page">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="window_height" jdbcType="INTEGER" property="windowHeight" />
    <result column="window_width" jdbcType="INTEGER" property="windowWidth" />
    <result column="window_orientation" jdbcType="VARCHAR" property="windowOrientation" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="creator_uid" jdbcType="INTEGER" property="creatorUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.daxiang.mbg.po.Page">
    <result column="window_hierarchy" jdbcType="LONGVARCHAR" property="windowHierarchy" />
    <result column="elements" jdbcType="LONGVARCHAR" property="elements" typeHandler="com.daxiang.typehandler.ElementListTypeHandler" />
    <result column="bys" jdbcType="LONGVARCHAR" property="bys" typeHandler="com.daxiang.typehandler.ByListTypeHandler" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, project_id, type, category_id, description, img_path, window_height, window_width, 
    window_orientation, device_id, creator_uid, create_time
  </sql>
  <sql id="Blob_Column_List">
    window_hierarchy, elements, bys
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.daxiang.mbg.po.PageExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.daxiang.mbg.po.PageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.daxiang.mbg.po.PageExample">
    delete from page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.daxiang.mbg.po.Page">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into page (name, project_id, type, 
      category_id, description, img_path, 
      window_height, window_width, window_orientation, 
      device_id, creator_uid, create_time, 
      window_hierarchy, elements, 
      bys
      )
    values (#{name,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{categoryId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, 
      #{windowHeight,jdbcType=INTEGER}, #{windowWidth,jdbcType=INTEGER}, #{windowOrientation,jdbcType=VARCHAR}, 
      #{deviceId,jdbcType=VARCHAR}, #{creatorUid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{windowHierarchy,jdbcType=LONGVARCHAR}, #{elements,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ElementListTypeHandler}, 
      #{bys,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ByListTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.daxiang.mbg.po.Page">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="windowHeight != null">
        window_height,
      </if>
      <if test="windowWidth != null">
        window_width,
      </if>
      <if test="windowOrientation != null">
        window_orientation,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="creatorUid != null">
        creator_uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="windowHierarchy != null">
        window_hierarchy,
      </if>
      <if test="elements != null">
        elements,
      </if>
      <if test="bys != null">
        bys,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="windowHeight != null">
        #{windowHeight,jdbcType=INTEGER},
      </if>
      <if test="windowWidth != null">
        #{windowWidth,jdbcType=INTEGER},
      </if>
      <if test="windowOrientation != null">
        #{windowOrientation,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="creatorUid != null">
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="windowHierarchy != null">
        #{windowHierarchy,jdbcType=LONGVARCHAR},
      </if>
      <if test="elements != null">
        #{elements,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ElementListTypeHandler},
      </if>
      <if test="bys != null">
        #{bys,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ByListTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.daxiang.mbg.po.PageExample" resultType="java.lang.Long">
    select count(*) from page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update page
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.imgPath != null">
        img_path = #{record.imgPath,jdbcType=VARCHAR},
      </if>
      <if test="record.windowHeight != null">
        window_height = #{record.windowHeight,jdbcType=INTEGER},
      </if>
      <if test="record.windowWidth != null">
        window_width = #{record.windowWidth,jdbcType=INTEGER},
      </if>
      <if test="record.windowOrientation != null">
        window_orientation = #{record.windowOrientation,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceId != null">
        device_id = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorUid != null">
        creator_uid = #{record.creatorUid,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.windowHierarchy != null">
        window_hierarchy = #{record.windowHierarchy,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.elements != null">
        elements = #{record.elements,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ElementListTypeHandler},
      </if>
      <if test="record.bys != null">
        bys = #{record.bys,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ByListTypeHandler},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update page
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      img_path = #{record.imgPath,jdbcType=VARCHAR},
      window_height = #{record.windowHeight,jdbcType=INTEGER},
      window_width = #{record.windowWidth,jdbcType=INTEGER},
      window_orientation = #{record.windowOrientation,jdbcType=VARCHAR},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      creator_uid = #{record.creatorUid,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      window_hierarchy = #{record.windowHierarchy,jdbcType=LONGVARCHAR},
      elements = #{record.elements,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ElementListTypeHandler},
      bys = #{record.bys,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ByListTypeHandler}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update page
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      img_path = #{record.imgPath,jdbcType=VARCHAR},
      window_height = #{record.windowHeight,jdbcType=INTEGER},
      window_width = #{record.windowWidth,jdbcType=INTEGER},
      window_orientation = #{record.windowOrientation,jdbcType=VARCHAR},
      device_id = #{record.deviceId,jdbcType=VARCHAR},
      creator_uid = #{record.creatorUid,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.daxiang.mbg.po.Page">
    update page
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="windowHeight != null">
        window_height = #{windowHeight,jdbcType=INTEGER},
      </if>
      <if test="windowWidth != null">
        window_width = #{windowWidth,jdbcType=INTEGER},
      </if>
      <if test="windowOrientation != null">
        window_orientation = #{windowOrientation,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="creatorUid != null">
        creator_uid = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="windowHierarchy != null">
        window_hierarchy = #{windowHierarchy,jdbcType=LONGVARCHAR},
      </if>
      <if test="elements != null">
        elements = #{elements,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ElementListTypeHandler},
      </if>
      <if test="bys != null">
        bys = #{bys,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ByListTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.daxiang.mbg.po.Page">
    update page
    set name = #{name,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      window_height = #{windowHeight,jdbcType=INTEGER},
      window_width = #{windowWidth,jdbcType=INTEGER},
      window_orientation = #{windowOrientation,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR},
      creator_uid = #{creatorUid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      window_hierarchy = #{windowHierarchy,jdbcType=LONGVARCHAR},
      elements = #{elements,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ElementListTypeHandler},
      bys = #{bys,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.ByListTypeHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daxiang.mbg.po.Page">
    update page
    set name = #{name,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      category_id = #{categoryId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      window_height = #{windowHeight,jdbcType=INTEGER},
      window_width = #{windowWidth,jdbcType=INTEGER},
      window_orientation = #{windowOrientation,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR},
      creator_uid = #{creatorUid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>