<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daxiang.mbg.mapper.TestPlanMapper">
  <resultMap id="BaseResultMap" type="com.daxiang.mbg.po.TestPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="environment_id" jdbcType="INTEGER" property="environmentId" />
    <result column="before_class" jdbcType="INTEGER" property="beforeClass" />
    <result column="before_method" jdbcType="INTEGER" property="beforeMethod" />
    <result column="after_class" jdbcType="INTEGER" property="afterClass" />
    <result column="after_method" jdbcType="INTEGER" property="afterMethod" />
    <result column="run_mode" jdbcType="TINYINT" property="runMode" />
    <result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
    <result column="enable_schedule" jdbcType="TINYINT" property="enableSchedule" />
    <result column="enable_record_video" jdbcType="TINYINT" property="enableRecordVideo" />
    <result column="fail_retry_count" jdbcType="INTEGER" property="failRetryCount" />
    <result column="creator_uid" jdbcType="INTEGER" property="creatorUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.daxiang.mbg.po.TestPlan">
    <result column="test_suites" jdbcType="LONGVARCHAR" property="testSuites" typeHandler="com.daxiang.typehandler.IntegerListTypeHandler" />
    <result column="device_ids" jdbcType="LONGVARCHAR" property="deviceIds" typeHandler="com.daxiang.typehandler.StringListTypeHandler" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, description, project_id, environment_id, before_class, before_method, after_class, 
    after_method, run_mode, cron_expression, enable_schedule, enable_record_video, fail_retry_count, 
    creator_uid, create_time
  </sql>
  <sql id="Blob_Column_List">
    test_suites, device_ids
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.daxiang.mbg.po.TestPlanExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from test_plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.daxiang.mbg.po.TestPlanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test_plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from test_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.daxiang.mbg.po.TestPlanExample">
    delete from test_plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.daxiang.mbg.po.TestPlan">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into test_plan (name, description, project_id, 
      environment_id, before_class, before_method, 
      after_class, after_method, run_mode, 
      cron_expression, enable_schedule, enable_record_video, 
      fail_retry_count, creator_uid, create_time, 
      test_suites, 
      device_ids
      )
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, 
      #{environmentId,jdbcType=INTEGER}, #{beforeClass,jdbcType=INTEGER}, #{beforeMethod,jdbcType=INTEGER}, 
      #{afterClass,jdbcType=INTEGER}, #{afterMethod,jdbcType=INTEGER}, #{runMode,jdbcType=TINYINT}, 
      #{cronExpression,jdbcType=VARCHAR}, #{enableSchedule,jdbcType=TINYINT}, #{enableRecordVideo,jdbcType=TINYINT}, 
      #{failRetryCount,jdbcType=INTEGER}, #{creatorUid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{testSuites,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.IntegerListTypeHandler}, 
      #{deviceIds,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.StringListTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.daxiang.mbg.po.TestPlan">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into test_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="environmentId != null">
        environment_id,
      </if>
      <if test="beforeClass != null">
        before_class,
      </if>
      <if test="beforeMethod != null">
        before_method,
      </if>
      <if test="afterClass != null">
        after_class,
      </if>
      <if test="afterMethod != null">
        after_method,
      </if>
      <if test="runMode != null">
        run_mode,
      </if>
      <if test="cronExpression != null">
        cron_expression,
      </if>
      <if test="enableSchedule != null">
        enable_schedule,
      </if>
      <if test="enableRecordVideo != null">
        enable_record_video,
      </if>
      <if test="failRetryCount != null">
        fail_retry_count,
      </if>
      <if test="creatorUid != null">
        creator_uid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="testSuites != null">
        test_suites,
      </if>
      <if test="deviceIds != null">
        device_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="environmentId != null">
        #{environmentId,jdbcType=INTEGER},
      </if>
      <if test="beforeClass != null">
        #{beforeClass,jdbcType=INTEGER},
      </if>
      <if test="beforeMethod != null">
        #{beforeMethod,jdbcType=INTEGER},
      </if>
      <if test="afterClass != null">
        #{afterClass,jdbcType=INTEGER},
      </if>
      <if test="afterMethod != null">
        #{afterMethod,jdbcType=INTEGER},
      </if>
      <if test="runMode != null">
        #{runMode,jdbcType=TINYINT},
      </if>
      <if test="cronExpression != null">
        #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="enableSchedule != null">
        #{enableSchedule,jdbcType=TINYINT},
      </if>
      <if test="enableRecordVideo != null">
        #{enableRecordVideo,jdbcType=TINYINT},
      </if>
      <if test="failRetryCount != null">
        #{failRetryCount,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null">
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testSuites != null">
        #{testSuites,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.IntegerListTypeHandler},
      </if>
      <if test="deviceIds != null">
        #{deviceIds,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.StringListTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.daxiang.mbg.po.TestPlanExample" resultType="java.lang.Long">
    select count(*) from test_plan
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update test_plan
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.environmentId != null">
        environment_id = #{record.environmentId,jdbcType=INTEGER},
      </if>
      <if test="record.beforeClass != null">
        before_class = #{record.beforeClass,jdbcType=INTEGER},
      </if>
      <if test="record.beforeMethod != null">
        before_method = #{record.beforeMethod,jdbcType=INTEGER},
      </if>
      <if test="record.afterClass != null">
        after_class = #{record.afterClass,jdbcType=INTEGER},
      </if>
      <if test="record.afterMethod != null">
        after_method = #{record.afterMethod,jdbcType=INTEGER},
      </if>
      <if test="record.runMode != null">
        run_mode = #{record.runMode,jdbcType=TINYINT},
      </if>
      <if test="record.cronExpression != null">
        cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.enableSchedule != null">
        enable_schedule = #{record.enableSchedule,jdbcType=TINYINT},
      </if>
      <if test="record.enableRecordVideo != null">
        enable_record_video = #{record.enableRecordVideo,jdbcType=TINYINT},
      </if>
      <if test="record.failRetryCount != null">
        fail_retry_count = #{record.failRetryCount,jdbcType=INTEGER},
      </if>
      <if test="record.creatorUid != null">
        creator_uid = #{record.creatorUid,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.testSuites != null">
        test_suites = #{record.testSuites,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.IntegerListTypeHandler},
      </if>
      <if test="record.deviceIds != null">
        device_ids = #{record.deviceIds,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.StringListTypeHandler},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update test_plan
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      environment_id = #{record.environmentId,jdbcType=INTEGER},
      before_class = #{record.beforeClass,jdbcType=INTEGER},
      before_method = #{record.beforeMethod,jdbcType=INTEGER},
      after_class = #{record.afterClass,jdbcType=INTEGER},
      after_method = #{record.afterMethod,jdbcType=INTEGER},
      run_mode = #{record.runMode,jdbcType=TINYINT},
      cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      enable_schedule = #{record.enableSchedule,jdbcType=TINYINT},
      enable_record_video = #{record.enableRecordVideo,jdbcType=TINYINT},
      fail_retry_count = #{record.failRetryCount,jdbcType=INTEGER},
      creator_uid = #{record.creatorUid,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      test_suites = #{record.testSuites,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.IntegerListTypeHandler},
      device_ids = #{record.deviceIds,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.StringListTypeHandler}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update test_plan
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      project_id = #{record.projectId,jdbcType=INTEGER},
      environment_id = #{record.environmentId,jdbcType=INTEGER},
      before_class = #{record.beforeClass,jdbcType=INTEGER},
      before_method = #{record.beforeMethod,jdbcType=INTEGER},
      after_class = #{record.afterClass,jdbcType=INTEGER},
      after_method = #{record.afterMethod,jdbcType=INTEGER},
      run_mode = #{record.runMode,jdbcType=TINYINT},
      cron_expression = #{record.cronExpression,jdbcType=VARCHAR},
      enable_schedule = #{record.enableSchedule,jdbcType=TINYINT},
      enable_record_video = #{record.enableRecordVideo,jdbcType=TINYINT},
      fail_retry_count = #{record.failRetryCount,jdbcType=INTEGER},
      creator_uid = #{record.creatorUid,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.daxiang.mbg.po.TestPlan">
    update test_plan
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="environmentId != null">
        environment_id = #{environmentId,jdbcType=INTEGER},
      </if>
      <if test="beforeClass != null">
        before_class = #{beforeClass,jdbcType=INTEGER},
      </if>
      <if test="beforeMethod != null">
        before_method = #{beforeMethod,jdbcType=INTEGER},
      </if>
      <if test="afterClass != null">
        after_class = #{afterClass,jdbcType=INTEGER},
      </if>
      <if test="afterMethod != null">
        after_method = #{afterMethod,jdbcType=INTEGER},
      </if>
      <if test="runMode != null">
        run_mode = #{runMode,jdbcType=TINYINT},
      </if>
      <if test="cronExpression != null">
        cron_expression = #{cronExpression,jdbcType=VARCHAR},
      </if>
      <if test="enableSchedule != null">
        enable_schedule = #{enableSchedule,jdbcType=TINYINT},
      </if>
      <if test="enableRecordVideo != null">
        enable_record_video = #{enableRecordVideo,jdbcType=TINYINT},
      </if>
      <if test="failRetryCount != null">
        fail_retry_count = #{failRetryCount,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null">
        creator_uid = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testSuites != null">
        test_suites = #{testSuites,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.IntegerListTypeHandler},
      </if>
      <if test="deviceIds != null">
        device_ids = #{deviceIds,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.StringListTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.daxiang.mbg.po.TestPlan">
    update test_plan
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      environment_id = #{environmentId,jdbcType=INTEGER},
      before_class = #{beforeClass,jdbcType=INTEGER},
      before_method = #{beforeMethod,jdbcType=INTEGER},
      after_class = #{afterClass,jdbcType=INTEGER},
      after_method = #{afterMethod,jdbcType=INTEGER},
      run_mode = #{runMode,jdbcType=TINYINT},
      cron_expression = #{cronExpression,jdbcType=VARCHAR},
      enable_schedule = #{enableSchedule,jdbcType=TINYINT},
      enable_record_video = #{enableRecordVideo,jdbcType=TINYINT},
      fail_retry_count = #{failRetryCount,jdbcType=INTEGER},
      creator_uid = #{creatorUid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      test_suites = #{testSuites,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.IntegerListTypeHandler},
      device_ids = #{deviceIds,jdbcType=LONGVARCHAR,typeHandler=com.daxiang.typehandler.StringListTypeHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daxiang.mbg.po.TestPlan">
    update test_plan
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      environment_id = #{environmentId,jdbcType=INTEGER},
      before_class = #{beforeClass,jdbcType=INTEGER},
      before_method = #{beforeMethod,jdbcType=INTEGER},
      after_class = #{afterClass,jdbcType=INTEGER},
      after_method = #{afterMethod,jdbcType=INTEGER},
      run_mode = #{runMode,jdbcType=TINYINT},
      cron_expression = #{cronExpression,jdbcType=VARCHAR},
      enable_schedule = #{enableSchedule,jdbcType=TINYINT},
      enable_record_video = #{enableRecordVideo,jdbcType=TINYINT},
      fail_retry_count = #{failRetryCount,jdbcType=INTEGER},
      creator_uid = #{creatorUid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>